<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>loginregister</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>project.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>project.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reset</display-name>
    <servlet-name>reset</servlet-name>
    <servlet-class>project.reset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reset</servlet-name>
    <url-pattern>/reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAttendanceServlet</display-name>
    <servlet-name>SaveAttendanceServlet</servlet-name>
    <servlet-class>project.SaveAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAttendanceServlet</servlet-name>
    <url-pattern>/SaveAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject</display-name>
    <servlet-name>Subject</servlet-name>
    <servlet-class>project.Subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject</servlet-name>
    <url-pattern>/Subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttendanceServlet</display-name>
    <servlet-name>GetAttendanceServlet</servlet-name>
    <servlet-class>project.GetAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttendanceServlet</servlet-name>
    <url-pattern>/GetAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchStudentDataServlet</display-name>
    <servlet-name>FetchStudentDataServlet</servlet-name>
    <servlet-class>project.FetchStudentDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchStudentDataServlet</servlet-name>
    <url-pattern>/FetchStudentDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableFetchExample</display-name>
    <servlet-name>TableFetchExample</servlet-name>
    <servlet-class>project.TableFetchExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableFetchExample</servlet-name>
    <url-pattern>/TableFetchExample</url-pattern>
  </servlet-mapping>
</web-app>